*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0px;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0px;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.site {
  overflow: hidden;
  font-family: "Lato";
  font-style: normal;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}

.nav {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  font-family: "Lato", sans-serif;
  font-style: normal;
  background: #e5e5e5;
  display: flex;
  justify-content: space-around;
  background: #222222;
  position: relative;
}
.nav__icon path {
  fill: #e8e8e8;
}
.nav__left {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 41px;
  padding-top: 18px;
  padding-bottom: 19px;
  margin-right: 250px;
}
.nav__right {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 33px;
  padding-top: 26px;
  padding-bottom: 20px;
}

.burger-box {
  min-width: 32px;
  min-height: 32px;
}
.burger-box #burger {
  position: absolute;
  left: -999999px;
  visibility: hidden;
}
.burger-box #burger:checked ~ .burger-box__drop {
  right: 0;
}
.burger-box__drop {
  background: #ffffff;
  width: 232px;
  box-sizing: border-box;
  position: absolute;
  box-shadow: 0px 21px 40px 10px rgba(143, 150, 156, 0.39);
  top: 85px;
  right: -232px;
  transition: right 0.3s;
  z-index: 1;
  padding: 32px;
}
.burger-box__menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: flex-start;
  gap: 11px;
}
.burger-box__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.burger-box__title-color {
  margin-bottom: 1px;
  font-weight: 400;
  color: #f16d7f;
}
.burger-box__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  margin-left: 20px;
}
.burger-box__btn {
  text-decoration: none;
  background: #ffffff;
  border: none;
}
.burger-box__btn:hover {
  border: 1px dotted #f16d7f;
}

.basket {
  position: relative;
}
.basket__count::after {
  content: "5";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #f16d7f;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10px;
  right: -10px;
}

.header {
  background: #f1e4e6;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
.header__man {
  width: 765px;
  background: #ffffff;
}
.header__title-box {
  display: flex;
  align-items: center;
  background: #f1e4e6;
}
.header__title {
  border-left: 12px solid #f16d7f;
  margin-left: 64px;
  padding-left: 16px;
}
.header__huge-title {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}
.header__big-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #222222;
}
.header__big-title__red {
  color: #f16d7f;
}

.menu {
  background: #ffffff;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 30px;
  padding-top: 65px;
  padding-bottom: 96px;
}
.menu__item {
  min-width: 360px;
  min-height: 260px;
  position: relative;
  text-align: center;
  background: rgba(33, 22, 22, 0.7);
  transition: all 0.3s ease;
}
.menu__item__img {
  min-width: 360px;
  min-height: 260px;
  opacity: 0.4;
}
.menu__item__img__long {
  min-width: 1140px;
  min-height: 180px;
  opacity: 0.4;
}
.menu__item__img__mobile {
  display: none;
  height: 0px;
}
.menu__item__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu__item__text__medium__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}
.menu__item__text__large__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #f16d7f;
}
.menu__item:hover {
  background: rgba(33, 22, 22, 0.5);
}
.menu__item:active {
  background: rgba(33, 22, 22, 0.2);
}
.menu__item-4 {
  max-width: 1140px;
  min-height: 180px;
}

.shop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 48px;
  background: #ffffff;
}
.shop__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.shop__title__not_small {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  padding-bottom: 6px;
}
.shop__title__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}
.shop__cards {
  padding-top: 48px;
  padding-bottom: 48px;
  display: grid;
  grid-template: repeat(2, 581px)/repeat(3, 360px);
  gap: 30px 30px;
  place-content: center center;
  place-items: center center;
}
.shop__cards .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  max-width: 360px;
  max-height: 581px;
  background: #f8f8f8;
  transition: all 0.3s ease;
}
.shop__cards .card__image-font {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 420px;
  background: #f7e4e2;
}
.shop__cards .card__image-back {
  position: relative;
}
.shop__cards .card__image-btn {
  display: none;
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 69px);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 8px 10px 16px 13px;
  background: none;
  transition: all 0.3s ease;
  cursor: pointer;
}
.shop__cards .card__image-btn span {
  margin-right: 11px;
}
.shop__cards .card__image-btn span svg path {
  fill: #ffffff;
}
.shop__cards .card__image-btn:hover {
  background: #f16d7f;
  border: 1px solid #f16d7f;
}
.shop__cards .card__content {
  padding: 23px 18px 20px 18px;
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  gap: 12px;
}
.shop__cards .card__small-title {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}
.shop__cards .card__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}
.shop__cards .card__price {
  padding-top: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}
.shop__cards .card:hover .card__img {
  filter: grayscale(100%);
}
.shop__cards .card:hover .card__image-btn {
  display: block;
  z-index: 1;
}
.shop__cards .card:hover .card__image_font {
  filter: grayscale(100%);
}
.shop__browse {
  padding-bottom: 60px;
}
.shop__browse__btn {
  padding: 14px 38px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  background: #e5e5e5;
  border: 1px solid #ff6a6a;
  cursor: pointer;
  transition: all 0.3s ease;
}
.shop__browse__btn:hover {
  color: #e5e5e5;
  background: #f16d7f;
  border: 1px solid #f16d7f;
}

.questions {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222224;
}
.questions__end_links {
  min-width: 1140px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 103px;
  margin-bottom: 104px;
}
.questions__end_links__item {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
  width: 360px;
}
.questions__end_links__item__link > svg > path {
  fill: #f16d7f;
}
.questions__end_links__item__link:hover > svg > path {
  fill: rgba(224, 92, 110, 0.7803921569);
}
.questions__end_links__item__title {
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
  margin-top: 28px;
  margin-bottom: 16px;
}
.questions__end_links__item__text {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
}

.footer .subscribe-main {
  background-image: url("../img/footer/photo_subscribe.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .subscribe-main__box {
  min-width: 1140px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 86px;
  padding-bottom: 126px;
}
.footer .subscribe-main__description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 40px;
}
.footer .subscribe-main__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  width: 360px;
}
.footer .subscribe-main__text-italic {
  font-style: italic;
}
.footer .subscribe-main__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 32px;
}
.footer .subscribe-main__medium-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}
.footer .subscribe-main__big-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
}
.footer .subscribe-main__input-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}
.footer .subscribe-main__submit {
  background: #e05c6e;
  height: 49px;
  width: 100px;
  border-radius: 0 24px 24px 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.footer .subscribe-main__submit:hover {
  border: 1px solid #e05c6e;
  background: #e5e5e5;
  color: #e05c6e;
}
.footer .subscribe-main__submit:hover p {
  color: #e05c6e;
}
.footer .subscribe-main__input {
  display: inline-block;
  background: #e1e1e1;
  width: 250px;
  height: 49px;
  border-radius: 24px 0 0 24px;
  border: none;
}
.footer .subscribe-main__submit-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: block;
  color: #ffffff;
}
.footer .copy {
  background: #222224;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .copy__box {
  min-width: 1140px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.footer .copy__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}
.footer .copy__right {
  display: flex;
  justify-content: center;
  flex-flow: row;
  align-items: center;
  gap: 7.29px;
  margin-top: 24px;
  margin-bottom: 23px;
}
.footer .copy__items {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  transition: all 0.3s ease;
}
.footer .copy__items svg path {
  fill: black;
}
.footer .copy__items:hover {
  background: #f16d7f;
}
.footer .copy__items:hover svg path {
  fill: #ffffff;
}

@media (max-width: 1240px) and (min-width: 768px) {
  .nav {
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px);
  }
  .header__img {
    width: 385px;
  }
  .header__man {
    max-width: 385px;
    max-height: 370px;
  }
  .header__title {
    margin-left: 40px;
  }
  .header__huge-title {
    font-size: 44px;
    line-height: 53px;
  }
  .header__big-title {
    font-size: 24px;
    line-height: 29px;
  }
  .menu {
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 155px;
  }
  .menu__item {
    min-width: 0px;
    min-height: 0px;
    max-width: 233px;
    max-height: 167px;
  }
  .menu__item__img {
    min-width: 0px;
    min-height: 0px;
    max-width: 233px;
    max-height: 167px;
  }
  .menu__item__img__long {
    min-width: 0px;
    min-height: 0px;
    max-width: 734px;
    max-height: 116px;
  }
  .menu__item-4 {
    max-width: 734px;
    min-height: 116px;
  }
  .shop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 48px;
  }
  .shop__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  .shop__title__not_small {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    padding-bottom: 6px;
  }
  .shop__title__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9f9f9f;
  }
  .shop__cards {
    padding-top: 74px;
    padding-bottom: 48px;
    grid-template: repeat(3, 581px)/repeat(2, 360px);
    gap: 16px 16px;
    place-content: center center;
    place-items: center center;
  }
  .shop__browse {
    padding-bottom: 65px;
  }
  .questions__end_links {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 64px;
    gap: 48px;
  }
  .footer .subscribe-main__box {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-top: 53px;
    padding-bottom: 140px;
    gap: 48px;
  }
  .footer .copy__box {
    min-width: 768px;
  }
}
@media (max-width: 767px) and (min-width: 375px) {
  .nav {
    padding-left: calc(50% - 187.5px);
    padding-right: calc(50% - 187.5px);
    justify-content: space-between;
  }
  .nav__left {
    margin-right: 0px;
  }
  .nav__right {
    justify-content: flex-end;
  }
  .nav__user {
    display: none;
  }
  .nav__basket {
    display: none;
  }
  .nav .basket__count::after {
    display: none;
  }
  .header__man {
    display: none;
  }
  .header__title {
    margin-left: 56px;
    margin-top: 148px;
    margin-bottom: 148px;
  }
  .header__huge-title {
    font-size: 38px;
    line-height: 46px;
  }
  .header__big-title {
    font-size: 20px;
    line-height: 24px;
  }
  .menu {
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 64px;
  }
  .menu__item {
    min-width: 0px;
    min-height: 0px;
    width: 343px;
    height: 247px;
  }
  .menu__item__img {
    min-width: 0px;
    min-height: 0px;
    width: 343px;
    height: 247px;
  }
  .menu__item__img__long {
    min-width: 0px;
    min-height: 0px;
    display: none;
    width: 0px;
    height: 0px;
    min-width: 0px;
    min-height: 0px;
  }
  .menu__item__img__mobile {
    display: block;
    position: relative;
    width: 343px;
    height: 111px;
    opacity: 0.4;
  }
  .menu__item-4 {
    width: 343px;
    max-height: 111px;
    min-height: 0px;
    min-width: 0px;
  }
  .shop {
    gap: 0px;
  }
  .shop__cards {
    padding-top: 64px;
    padding-bottom: 41px;
    display: flex;
    flex-flow: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
  }
  .shop__browse {
    padding-bottom: 96px;
  }
  .questions__end_links {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 64px;
    gap: 48px;
  }
  .footer .subscribe-main__box {
    min-width: 375px;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-top: 54px;
    padding-bottom: 110px;
    gap: 59px;
  }
  .footer .subscribe-main__text {
    font-size: 18px;
    line-height: 22px;
    width: 343px;
  }
  .footer .subscribe-main__form {
    gap: 22px;
  }
  .footer .copy__box {
    min-width: 375px;
    flex-flow: column-reverse wrap;
    justify-content: center;
    gap: 40px;
    padding-top: 43px;
    padding-bottom: 9px;
  }
}/*# sourceMappingURL=style.css.map */