<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Workshops
        </title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="app">
            <h1 class="header">{{message}}</h1>
            <div v-show="choiseIsDone">
                <section v-if="iAmOfLegalAge">
                    <h3>Можете заказать товар &#128522;</h3>
                    <p>Товаров в корзине {{count}}</p>
                    <div class="shop">
                        <div class="card" v-for="product in products" :key="product.id">
                            <div v-if="!product.productInCard">
                                <button class="card__btn" v-on:click="incrementCount(product.id)">Add to cart</button>
                            </div>
                            <div v-else="product.productInCard">
                                <button class="card__btn" v-on:click="goToCard()">Go to card</button>
                            </div>
                        </div>
                    </div>
                </section>
                <section v-else="!iAmOfLegalAge">
                    <h3>Доступ закрыт &#128563;</h3>
                </section>
            </div>
            <div v-show="!choiseIsDone">
                <button v-on:click="choiceYes()">Мне исполнилось 18 лет</button>
                <button v-on:click="choiceNo()">Мне еще нет 18 лет</button>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <!-- <script src="workshop1.js"></script> -->
        <script>
            new Vue({
                el: "#app",
                data: {
                    message: "Hello VUE!!!",
                    count: 0,
                    products: [{id: 1, productInCard: false,}, {id: 2, productInCard: false,}, {id: 3, productInCard: false,}, {id: 4, productInCard: false,}],
                    choiseIsDone: false,
                    iAmOfLegalAge: false,
                },
                methods: {
                    incrementCount(i) {
                        this.count++;
                        this.products.forEach(x => {
                            if (x.id === i) {
                                x.productInCard = true;
                            }
                        });
                    },
                    goToCard() {
                        window.location.href = 'card.html'
                    },
                    choiceYes() {
                        this.choiseIsDone = true;
                        this.iAmOfLegalAge = true;
                    },
                    choiceNo() {
                        this.choiseIsDone = true;
                        this.iAmOfLegalAge = false;
                    },
                },
                });
        </script>
    </body>
</html>
