$siteDesktopWidth: 1140px;
$pinkColor: #f16d7f;
$burgerMenuWidth: 232px;

@mixin flexCenter {
    display: flex;
    justify-content: center;
}

@mixin flexCenterCenterColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
