$widthPage: 1200px;
$widthBacground: 1920px;
$colorBacgroundMain: #fff;
$colorLogo: #cda274;
$colorTextBasic: #292f36;
$colorTextLight: #4d5053;
$colorBacgroundBtnBigCard: #f4f0ec;
$colorBacgroundLines: #e6e6e6;
$colorSmallCardBorder: #e7e7e7;
$colorBacgroundSmallCardImg: #eaeaea;
$colorBacgroundBigCardImg: #c4c4c4;
$widthBigCard: 548px;
$heightBigCard: 619px;
$heightBigCardPicture: 525px;
$widthBigCardPicture: $widthBigCard;
