body {
    font-family: "Arial", sans-serif;
    background-color: #f3f4f6;
    text-decoration: none;
    padding: 20px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 10px;
}

.header {
    padding: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    &_title {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 36px;
        font-weight: 800;
        color: #2e0000;
    }

    &_box {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;

        &__link {
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 16px;
            font-weight: 200;
            text-decoration: none;
            color: #151227;
        }
    }
}
.box {
    min-width: 500px;
    padding: 10px;
    background-color: #cdd9f0;
    border: 1px solid #bbaaf7;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    &_error {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        color: red;
    }
    &_text {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
        font-weight: 200;
        text-decoration: none;
        color: #151227;
    }

    &_content {
        min-width: 780px;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: center;
        background-color: #c7eee4;
        padding: 5px;

        &__review {
            min-height: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            word-break: break-all;
        }
    }
}

.productbox {
    width: 800px;
}
