@import "_variables_mixins.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

.site {
    overflow: hidden;
    font-family: "Lato";
    font-style: normal;
}

.center {
    padding-left: calc(50% - $siteDesktopWidth / 2);
    padding-right: calc(50% - $siteDesktopWidth / 2);
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9f9f9f;
}

.nav {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    font-family: "Lato", sans-serif;
    font-style: normal;
    background: #e5e5e5;
    display: flex;
    justify-content: space-around;
    background: #222222;
    position: relative;

    &__icon path {
        fill: #e8e8e8;
    }

    &__left {
        @include flexCenter();
        align-items: baseline;
        gap: 41px;
        padding-top: 18px;
        padding-bottom: 19px;
        margin-right: 250px;
    }

    &__right {
        @include flexCenter();
        align-items: baseline;
        gap: 33px;
        padding-top: 26px;
        padding-bottom: 20px;
    }
}

.burger-box {
    min-width: 32px;
    min-height: 32px;

    #burger {
        position: absolute;
        left: -999999px;
        visibility: hidden;
        &:checked ~ .burger-box__drop {
            right: 0;
        }
    }

    &__drop {
        background: #ffffff;
        width: $burgerMenuWidth;
        box-sizing: border-box;
        position: absolute;
        -webkit-box-shadow: 0px 21px 40px 10px rgba(143, 150, 156, 0.39);
        -moz-box-shadow: 0px 21px 40px 10px rgba(143, 150, 156, 0.39);
        box-shadow: 0px 21px 40px 10px rgba(143, 150, 156, 0.39);
        top: 85px;
        right: -$burgerMenuWidth;
        transition: right 0.3s;
        z-index: 1;
        padding: 32px;
    }

    &__menu {
        list-style: none;
        @include flexCenter();
        flex-flow: column;
        align-items: flex-start;
        gap: 11px;
    }

    &__title {
        margin-bottom: 12px;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }

    &__title-color {
        margin-bottom: 1px;
        font-weight: 400;
        color: $pinkColor;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6f6e6e;
        margin-left: 20px;
    }

    &__btn {
        text-decoration: none;
        background: #ffffff;
        border: none;
    }

    &__btn:hover {
        border: 1px dotted $pinkColor;
    }
}

.basket {
    position: relative;

    &__count::after {
        content: "5";
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #ffffff;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background: $pinkColor;
        @include flexCenter();
        align-items: center;
        position: absolute;
        top: -10px;
        right: -10px;
    }
}

.subheader {
    background: #f8f3f4;
    &__box {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $pinkColor;
    }

    &__breadcrumb {
        padding: 10px 16px;
        list-style: none;
        background-color: #eee;
    }

    &__breadcrumb li {
        display: inline;
        background: #f8f3f4;
    }

    &__breadcrumb li + li:before {
        padding: 8px;
        color: #636363;
        content: "/";
    }

    &__breadcrumb li a {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
        text-decoration: none;
    }

    &__breadcrumb li a:hover {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
        text-decoration: underline;
    }

    &__breadcrumb li:last-child a {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: $pinkColor;
    }
}

//eee

.content {
    &__picture {
        padding-left: calc(50% - 1600px / 2);
        padding-right: calc(50% - 1600px / 2);

        &__box {
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-content: center;
            align-items: center;

            &__btn {
                width: 47px;
                height: 47px;
                background: rgba(42, 42, 42, 0.15);
                border: none;
                cursor: pointer;
                transition: all 0.3s ease;
                z-index: 1;

                &:hover {
                    background: $pinkColor;
                    & svg path {
                        fill: #ffffff;
                    }
                }

                &__left {
                    margin-right: -47px;

                    & svg path {
                        fill: #000000;
                    }
                }

                &__right {
                    margin-left: -47px;

                    & svg path {
                        fill: $pinkColor;
                    }
                }
            }

            &__img {
                width: 1600px;
                height: 777px;
                background-color: #f7f7f7;
            }

            &__img img {
                height: 100%;
                width: auto;
                display: block;
                margin: auto;
            }
        }
    }

    &__box {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        max-width: 1140px;
        border: 1px solid #eaeaea;
        padding-top: 64px;
        padding-bottom: 65px;
    }

    &__product {
        &__class {
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: $pinkColor;
        }

        &__line {
            width: 63px;
            border-top: 3px solid $pinkColor;
        }

        &__title {
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;
            color: #4d4d4d;
        }

        &__description {
            max-width: 555px;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #5e5e5e;
            margin-top: 36px;
            margin-bottom: 20px;
        }

        &__price {
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            color: $pinkColor;
        }

        &__line-under-price {
            width: 641px;
            border-top: 1px solid #eaeaea;
            margin-top: 53px;
            margin-bottom: 53px;
        }

        &__choise_menu {
            &__right {
                @include flexCenter();
                flex-flow: row;
                gap: 28px;
                position: relative;

                &__details {
                    &__summary svg path {
                        fill: #6f6e6e;
                    }

                    & [open] {
                        background: #ffffff;
                        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
                    }

                    &__text {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        color: #6f6e6e;
                    }

                    &__summary {
                        top: 0px;
                        left: 0px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        cursor: pointer;

                        &:hover span {
                            color: $pinkColor;
                        }
                    }

                    &__trending_now_box {
                        display: flex;
                        flex-flow: column;
                        gap: 9px;
                        & a {
                            text-decoration: none;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 17px;
                            color: #000000;
                        }
                    }

                    &__box {
                        position: absolute;
                        background: #ffffff;
                        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
                        padding: 7px 30px 11px 9px;
                    }

                    &__size {
                        display: flex;
                        flex-flow: column;
                        gap: 9px;
                    }
                }
            }
        }

        &__btn {
            // padding: 14 px 56px 14px 23px;
            margin-top: 36px;
            padding-top: 14px;
            padding-bottom: 14px;
            padding-left: 23px;
            padding-right: 56px;
            border: 1px solid $pinkColor;
            background: #ffffff;
            cursor: pointer;
            transition: all 0.3s ease;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: $pinkColor;

            & span svg path {
                fill: $pinkColor;
            }

            &:hover {
                color: #ffffff;
                background: $pinkColor;
                & p svg path {
                    fill: #ffffff;
                }
            }

            &__box {
                display: flex;
                flex-flow: row;
                justify-content: center;
                align-items: center;
                gap: 23px;
            }
        }
    }

    &__cards {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding-top: 128px;
        padding-bottom: 128px;

        .card {
            @include flexCenterCenterColumn();
            max-width: 360px;
            max-height: 581px;
            background: #f8f8f8;
            transition: all 0.3s ease;

            &__image-font {
                @include flexCenter();
                align-items: center;
                width: 360px;
                height: 420px;
                background: #f7e4e2;
            }

            &__image-back {
                position: relative;
            }

            &__image-btn {
                display: none;
                position: absolute;
                top: calc(50% - 22px);
                left: calc(50% - 69px);
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #ffffff;
                border: 1px solid #ffffff;
                padding: 8px 10px 16px 13px;
                background: none;
                transition: all 0.3s ease;
                cursor: pointer;

                & span {
                    margin-right: 11px;
                }

                & span svg path {
                    fill: #ffffff;
                }

                &:hover {
                    background: $pinkColor;
                    border: 1px solid $pinkColor;
                }
            }

            &__content {
                padding: 23px 18px 20px 18px;
                display: flex;
                justify-content: flex-start;
                flex-flow: column;
                gap: 12px;
            }

            &__small-title {
                font-weight: 400;
                font-size: 13px;
                line-height: 16px;
                color: #000000;
            }

            &__text {
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
                color: #5d5d5d;
            }

            &__price {
                padding-top: 6px;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: $pinkColor;
            }

            &:hover .card__img {
                filter: grayscale(100%);
            }

            &:hover .card__image-btn {
                display: block;
                z-index: 1;
            }

            &:hover .card__image_font {
                filter: grayscale(100%);
            }
        }
    }
}

//eee

.footer {
    .subscribe-main {
        background-image: url("../img/footer/photo_subscribe.jpg");
        background-size: cover;
        background-position: center;
        @include flexCenter();
        align-items: center;

        &__box {
            min-width: $siteDesktopWidth;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            padding-top: 86px;
            padding-bottom: 126px;
        }

        &__description {
            @include flexCenterCenterColumn();
            gap: 40px;
        }

        &__text {
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #222224;
            width: 360px;
        }

        &__text-italic {
            font-style: italic;
        }

        &__form {
            @include flexCenterCenterColumn();
            gap: 32px;
        }

        &__medium-title {
            font-weight: 400;
            font-size: 18px;
            line-height: 167.2%;
            text-align: center;
            color: #222224;
        }

        &__big-title {
            font-weight: 700;
            font-size: 24px;
            line-height: 167.2%;
        }

        &__input-btn {
            @include flexCenter();
            align-items: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #222224;
            opacity: 0.67;
        }

        &__submit {
            background: #e05c6e;
            height: 49px;
            width: 100px;
            border-radius: 0 24px 24px 0;
            border: none;
            @include flexCenter();
            align-items: center;
            transition: all 0.3s ease;

            &:hover {
                border: 1px solid #e05c6e;
                background: #e5e5e5;
                color: #e05c6e;
            }

            &:hover p {
                color: #e05c6e;
            }
        }

        &__input {
            display: inline-block;
            background: #e1e1e1;
            width: 250px;
            height: 49px;
            border-radius: 24px 0 0 24px;
            border: none;
        }

        &__submit-text {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            display: block;
            color: #ffffff;
        }
    }

    .copy {
        background: #222224;
        @include flexCenter();
        align-items: center;

        &__box {
            min-width: $siteDesktopWidth;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
        }

        &__text {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #fbfbfb;
        }

        &__right {
            @include flexCenter();
            flex-flow: row;
            align-items: center;
            gap: 7.29px;
            margin-top: 24px;
            margin-bottom: 23px;
        }

        &__items {
            width: 32px;
            height: 32px;
            @include flexCenter();
            align-items: center;
            background: #ffffff;
            transition: all 0.3s ease;

            & svg path {
                fill: black;
            }

            &:hover {
                background: $pinkColor;
            }

            &:hover svg path {
                fill: #ffffff;
            }
        }
    }
}

@import "_product_media.scss";
